* {
    margin: auto;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #0229c5;
    background-image: url("109.png");
    position: absolute;
}

.color {
    background-image: url("background.jpg");
    background-repeat: round;
}

.page {
    padding-top: 8%;
    font-size: xx-large;
}

ol {
    padding-left: 10%;
}

img {
    width: 300px;
    height: 200px;
}

.button {
    color: #FFFFFF;
    width: 7%;
    float: right;
    border: none;
    border-radius: 5%;
    text-decoration: none;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    background-color: #112268;
}

.button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 28px ;
}

.leftButton {
    color: #FFFFFF;
    width: 7%;
    float: left;
    border: none;
    border-radius: 5%;
    text-decoration: none;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    background-color: #112268;
}

.leftButton:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 28px;
}

.login {
    color: #FFFFFF;
    border: none;
    background-color: #112268;
    margin-top: 5%;
    margin-left: 35%;
    width: 29%;
    height: 40px;
}

.input {
    margin-left: 35%;
    padding-left: 2%;
    width: 27%;
    height: 40px;
}

.error {
    margin-left: 35%;
    font-size: 25px;
    color: #0ff50a;
}

.message {
    font-size: 40px;
    color: #DB2828;
}

.scor {
    float: right;
}

.gresit {
    color: red;
}

.corect {
    color: green;
}

.hint {
    width: 15%;
    font-size: 40px;
    font-family: "Calibri";
    background-color: rgb(2, 41, 197);
    border: none;
    border-radius: 5%;
    text-decoration: none;

}

.user {
    font-size: 24px;
    color: #112268;
    padding-top: 2%;
}

.submit {
    width: 5%;
    background-color: #0229c5;
    border: none;
    border-radius: 5%;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.actorName {
    width: 20%;
    height: 40px;
    padding-left: 2%;
}

.rankLi {
    font-size: 32px;
    padding-top: 25px;
    padding-left: 15px;
}

.image {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 15px 15px 5px #2c2c2c;
}

.image:hover{
    width: auto;
    height: auto;
}